[Match]
Name=eth*

[Network]
DHCP=v4
# Workaround for network issues on tegra
# See https://github.com/madisongh/meta-tegra/issues/146
LLDP=0

[DHCPv4]
UseHostname=false
